*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration:none;
}

body{
    font-family: "Poppins";
    overflow-x: hidden;
}
.container{
    min-width: 920px;
    padding: 0 10px;
    margin: 0 auto;
    
}

.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 100%;
}
.header > .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header__logo{
font-weight: 700;
font-size: 28px;
color: #22262a;
}

.header__link{
font-weight: 400;
font-size: 18px;
color: #22262a;
margin-left: 25px;
}


.hero{
    background: url(/src/assets/img/couple.png);
    min-width: 1320px;
   margin: 0 auto;
   height: 730px;
}

.menu__icon{
    background: url('./assets/img/iconboxis.png');
    width: 155px;
    height: 20px;
}
.title__name {
font-weight: 500;
font-size: 18px;
color: #22262a;
}
.desc{
    font-weight: 500;
    font-size: 18px;
    color: #22262a;
}
.title__text{
font-weight: 700;
font-size: 80px;
color: #22262a;
}
.title{
    position: absolute;
    top:400px;
    left: 800px;
}
.btn{
font-weight: 500;
font-size: 18px;
text-align: center;
color: #fff;
width: 147px;
height: 35px;
background: #22262a;
margin: 0px 20px 10px 0px;
}

.products{
    padding: 50px 0; 
    box-shadow:  solid white 1px 1px 3px;
}
.products > .grid{
    display: flex;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 30px;
}

.card__wrapper{
    height: 371px;
    width: 268px;
}
img{
    width: 100%;
   
}
.cards{
    margin: 0 auto;
}
.card_name{
    font-family: Poppins;
font-size: 15px;
font-weight: 300;
line-height: 22.5px;
text-align: left;
padding-top:50px;
}

.description__title{
    font-family: Poppins;
font-size: 15px;
font-weight: 600;
line-height: 22.5px;
text-align: left;
}

.card__price{
    font-family: Poppins;
font-size: 15px;
font-weight: 400;
line-height: 22.5px;
text-align: left;
color:#E32636;
}
.card__price1{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    color:#22262a;
}
.price{
    display: flex;
    justify-content: space-around;
    gap: 10%;
    padding-right: 110px;
}

.cont{
    margin-bottom: 50px;
    text-align:center;
}